//colors
$color-background: #DBD4D3;
$color-accent-hot: #EB3928;
$color-accent-cool: #387780;

//fonts
@import url('https://fonts.googleapis.com/css?family=Fanwood+Text|Open+Sans');

$font-serif: 'Fanwood Text', serif;
$font-sans: 'Tenor Sans', sans-serif;